table {
    border: 1px solid #ddd;
}
tr:nth-child(odd) {
	background-color: #f9f9f9;
}

@media screen and (max-width: 500px) {

	/* don't act like a table anymore */
    table, thead, tbody, th, td, tr {
		display: block;
    }

    /* hide table header */
    thead tr {
    	position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* make room for header */
    td {
    	position: relative;
        padding-left: 50%;
    }


    /* add row labels */
    td:before {
    	position: absolute;
        left: 6px;

      	/* label for row */
        content: attr(data-th);
        font-weight: bold;
    }
    td:first-of-type {
    	font-weight: bold;
    }
}